#
# The MariaDB configuration file
# The MySQL  Server configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html
# If you are new to MariaDB, check out https://mariadb.com/kb/en/basic-mariadb-articles/


[client-server]
socket                          = /run/mysqld/mysqld.sock
max_allowed_packet	            = 16M


[client]
default-character-set           = utf8mb4


[mysql]
default-character-set           = utf8mb4


[mysqldump]
quick
quote-names
